body {
    background-color: #363547;
}

h1 {
    font-family: 'Advent Pro', sans-serif;
    color: antiquewhite;
    position: absolute;
}

.responsive {
    width: 100%;
    height: auto;
}

#bomb-container {
    position: relative;
}

#bomb-progress {
    width: 100%;
    background-color: grey;
    top: 8%;
    position: absolute;
    display: none;
}

#bomb-progress-bar {
    width: 1%;
    height: 30px;
    background-color: green;
    display: none;
}

#bomb-screen {
    width: 20%;
    height: 10%;
    position: absolute;
    left: 44%;
    top: 21%;
    font-family: 'Cute Font', cursive;
    font-size: 13vw;
    opacity: 0.5;
}

#bomb-keypad {
    width: 24%;
    height: 25%;
    position: absolute;
    left: 31%;
    top: 41%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

#bomb-wires {
    width: 26%;
    height: 35%;
    position: absolute;
    left: 58%;
    top: 31%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family: 'Advent Pro', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}